@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Nunito&family=Nunito+Sans:opsz,wght@6..12,700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Nunito&family=Nunito+Sans:opsz,wght@6..12,700&family=Poppins&family=Sofia+Sans+Semi+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* styling navbar */
nav{
    height:25vh;
    width:100%;
    background-color: plum;
    font-size: 30px;
    font-family: 'Nunito Sans', sans-serif;
} 

/* styling the background screen */
.home{
    background-image: url(assets/start.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* styling the start button */
#start{
        height: 100px;
        width:250px;
        background-color: purple;
        border: 5px solid white;
        position: absolute;
        bottom:120px;
        left: 640px;
        color: white;
        font-size: 70px;
        text-align: center;
        border-radius: 30%;
        font-family:'Kdam Thmor Pro', sans-serif;
        box-shadow:10px 10px  white ;
        
}

#start:hover{
    color: rgb(11, 11, 12);
    background-color: rgb(127, 229, 255);
    cursor: pointer;
    box-shadow: 15px 15px 15px rgb(61, 10, 246);
}



/* media query for phone screen of dimensions 360 x 800 */

@media screen and (max-width:801px) and (min-width:300px){
    nav{
        font-size: 18px;
        height: 20vh;
    }

    .home {
        height: 80vh;
    }

    #start {
        position: absolute;
        left: 100px;
        height: 75px;
        width: 150px;
        font-size: 47px;
        border: 2px solid white;
        overflow: hidden;
        bottom: 25vh;
    }
}

/* media query for laptop screen of dimensions 1920 x 1080 */

@media screen and (max-width:1921px) and (min-width:800px){
    nav {
        font-size: 40px;
        height: 25vh;
    }

    .home {
        height: 75vh;
    }

    #start {
        left: 45vw;
    }
}


 

