
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Nunito&family=Nunito+Sans:opsz,wght@6..12,700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Nunito&family=Nunito+Sans:opsz,wght@6..12,700&family=Poppins&family=Sofia+Sans+Semi+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Kalam&family=Kdam+Thmor+Pro&family=Nunito&family=Nunito+Sans:opsz,wght@6..12,700&family=Pixelify+Sans&family=Poppins&family=Sofia+Sans+Semi+Condensed&display=swap');
 *{
    margin: 0;
    padding: 0;
} 

/* styling background of game over page */

#bgimg{
    background-image: url(assets/wait.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

/* styling the different messages that pop up each time user finishes the game */

#message{
    color: aqua;
    font-size: 80px;
    position: absolute;
    top: 16vh;
    left: 17vw;
    text-decoration-style: solid;
    font-family:'Kdam Thmor Pro', sans-serif ;
}

/* styling the playagain button */

#playagain{
    position: absolute;
    left:20vw;
    bottom:15vh;
    border: 5px solid aqua;
    width: 40vh;
    height: 9vh;
    padding:10px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 50px;
    background-color: white;
    border-radius: 50px;
}

#playagain:hover{
    color:white;
    background-color: rgb(231, 13, 148);
    cursor: pointer;
}

/* displaying the div that shows the player's name and his/her score */

#scoreDisplay{
    width:50vw;
    height: 8vh;
    background-color: white;
    position: absolute;
    top:47vh;
    left: 5vw;
    text-align: center;
    font-size: 35px;
    font-family:'Kdam Thmor Pro', sans-serif ;
    border-radius: 50px;
}

/* styling home icon that redirects the player to the home page of the game */

#homeicon{
    position: absolute;
    right: 100px;
    top: 50px;
    box-shadow: 5px 5px 5px white;

}

#homeicon:hover{
    cursor:pointer;
}

/* highlighting the name and score */

#box3, #scoregot{
    color: 
    blue;
} 

/* media query to display the gameover page on the mobile phone screen within the specified range*/

@media (max-height: 500px) and (max-width: 700px){
    #message{
        font-size:50px;
        top: 5vh;
    }

    #scoreDisplay{
        font-size: 18px;
        top: 37vh;
        height: 14vh;
        width: 37vw;
        left: 15vw;
        padding: 10px;
    }

    #playagain{
        font-size: 20px;
        width: 20vw;
        height: 8vh;
    }

    img{
        width: 20vh;
        height: 17vh;
    }

    #homeicon{
        top: 5vh;
        right: 5vw;
    }
}

/* media query to display the game on the common screen of mobile phones*/

@media screen and (max-width:810px) and (min-width:370px){
    #message{
        font-size: 30px;
    }

    #scoreDisplay{
        width: 40vw;
        height:15vh;
        font-size: 18px;
        top:40vh;
    }

    #playagain{
        font-size:24px;
    }

    img{
        width: 100px;
        height: 90px;
    }

    #homeicon{
        right:5vw;
        top:4vh;
    }
    
}


